{% load static %}
<!-- JavaScript for 'interactive_map' moudles -->
<script src="{% static 'interactive_map/js/api.js' %}" type="text/javascript"></script>
<script type="text/javascript">

    // Add CSRF token to the request header
    document.addEventListener('htmx:configRequest', function (event) {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        event.detail.headers['X-CSRFToken'] = csrfToken;
    });

    function validateForm() {
        var longitudeErrorElement = document.getElementById('longitude-error');
        var latitudeErrorElement = document.getElementById('latitude-error');

        var longitudeError = longitudeErrorElement ? longitudeErrorElement.innerText.trim() : '';
        var latitudeError = latitudeErrorElement ? latitudeErrorElement.innerText.trim() : '';

        var longitudeInput = document.getElementById('longitude');
        var latitudeInput = document.getElementById('latitude');

        // Clear error messages before each validation
        if (longitudeErrorElement) {
            longitudeErrorElement.innerText = '';
        }
        if (latitudeErrorElement) {
            latitudeErrorElement.innerText = '';
        }

        // Verify that the input longitude is valid
        var longitudeError = '';
        var latitudeError = '';

        if (!isValidLongitude(longitudeInput.value.trim())) {
            longitudeError = 'Invalid longitude value.';
        }

        if (!isValidLatitude(latitudeInput.value.trim())) {
            latitudeError = 'Invalid latitude value.';
        }

        // Display error messages, if any
        if (longitudeErrorElement) {
            longitudeErrorElement.innerText = longitudeError;
        }
        if (latitudeErrorElement) {
            latitudeErrorElement.innerText = latitudeError;
        }

        console.log("Longitude Error: ", longitudeError);
        console.log("Latitude Error: ", latitudeError);

        var submitButton = document.getElementById('submit-button');
        if (longitudeError === '' && latitudeError === '') {
            submitButton.disabled = false; // Allow to submit
        } else {
            submitButton.disabled = true; // Not allow to submit
        }
    }


    // Verify that the input longitude is valid
    function isValidLongitude(longitude) {
        var lon = parseFloat(longitude);
        return !isNaN(lon) && lon >= -180 && lon <= 180;
    }

    // Verify that the input latitude is valid
    function isValidLatitude(latitude) {
        var lat = parseFloat(latitude);
        return !isNaN(lat) && lat >= -90 && lat <= 90;
    }

    document.querySelectorAll('input[type="text"]').forEach(geoData => {
        geoData.addEventListener('change', function (event) { // htmx:afterSwap
            if (event.detail.target.id === 'longitude-error' || event.detail.target.id === 'latitude-error') {
                validateForm(); // Check for error messages and update button status after each update
            }
        });
    });

    var numberPattern = /^-?\d*(\.\d*)?$/;

    document.querySelectorAll('input').forEach(input => {
        input.addEventListener('input', function () {

            var value = event.target.value;

            if (!numberPattern.test(value)) {
                // Deletes the last non-numeric character entered and does not allow the user to enter it indiscriminately
                event.target.value = value.slice(0, -1);
            }

            // Validate the user input everytime
            validateForm();
        });
    });

    // Interctive map related js codes

    $(document).ready(function () {

        const map = $(`#map-container`).InteractiveMap({
            viewPort: [-23.9176, 142.7028],  // 昆士兰中心经纬度
            zoomLevel: 6,  // 初始缩放级别，适合查看整个澳大利亚
            width: '100%', // Deign the width of the map
            height: '800px',
            minZoom: 2,
            maxZoom: 15,
            widgets: ['toolbar', 'minimap', 'fullscreen', 'scale', 'resetBounds', 'mouseCoords', 'searchBox'],  // 启用的功能 -> 'toolbar',
            reloadOnPan: true,
            layers: [
                {
                    interactive: true,  // 允许用户与图层交互
                }
            ]
        });

        // 配置搜索框的行为
        // map.on(InteractiveMap.Event.Search.changed, function (e) {
        //     e.detail.widget.filter('name');  // 根据城市名称过滤
        // }).on(InteractiveMap.Event.Search.submit, function (e) {
        //     e.detail.widget.search('name');  // 根据城市名称进行搜索并缩放到该城市
        // });

        //点击地图后获得经纬度 -> Also, sending the geographic data to the backend -> TODO: 点击地图才可以传，如果先选中方法就不可以 -> Fixing
        // map.on(InteractiveMap.Event.Mark.created, function (e) {
        //     // console.log(e.detail)
        //     const { marker, lat, lng } = e.detail;


        // });

        // 创建一个新的图层 -> 之后所有新增的图层都在此基础上加
        let drawnLayerGroup = new L.FeatureGroup().addTo(map.map); // 用Interactive_map包装了，正常不需要map.map

        // 用于控制是否正在绘制
        let isDrawing = false;

        let magneticLayer;


        // Get all map related buttons
        const mapButtons = document.querySelectorAll('.btn-group button');

        mapButtons.forEach(button => {
            button.addEventListener('click', function () {
                // Remove all other buttons' active attributes
                mapButtons.forEach(btn => btn.classList.remove('active'));
                // Add an active attribute to current button
                this.classList.add('active');
            });
        });

        // 绑定按钮事件，显示默认地图
        document.getElementById('defaultMap').addEventListener('click', function () {
            console.log("进来了-默认")
            // 检查磁力图层是否存在并且已经添加到地图上
            if (magneticLayer && map.map.hasLayer(magneticLayer)) {
                map.map.removeLayer(magneticLayer);  // 移除磁力图层
                magneticLayer = false;
                console.log("磁力图层已移除");
            } else {
                console.log("磁力图层不存在或未添加");
            }
        });

        // 绑定按钮事件，显示磁力地图
        document.getElementById('magneticMap').addEventListener('click', function () {
            NProgress.configure({ showSpinner: false });//隐藏原生的加载数据圈圈
            console.log("进来了-磁力")

            if (magneticLayer) {
                drawnLayerGroup.removeLayer(magneticLayer);
                console.log("======清楚了磁力图层======")
            } else {
                console.log("=====准备创建磁力图层=====");

                // TODO: 做个动画，等待的时候转圈圈
                // Loading bar started
                NProgress.start();
                showSpinner();//调用加载数据时转圈方法
                // Clear the shapes layer before loading the magnetic map
                clearLayers();
                // 得用最原始的.tif文件，至于格式 -> 目前试了4326有效
                fetch('{% static "geo_file/GeoTiffColor.tif" %}')
                    .then(response => response.arrayBuffer())
                    .then(arrayBuffer => {
                        console.log("arrayBuffer===> ", arrayBuffer)
                        parseGeoraster(arrayBuffer).then(georaster => {
                            console.log("georaster:", georaster);

                            magneticLayer = new GeoRasterLayer({
                                georaster: georaster,
                                opacity: 0.85, // 设置1透明度
                                resolution: 256, // 这个参数是调整像素的
                            });

                            // Just for testing
                            console.log("磁力地图的边界: ", magneticLayer.getBounds())

                            magneticLayer.addTo(map.map);

                            map.map.fitBounds(magneticLayer.getBounds());

                            // Loaidng bar stop
                            NProgress.done();
                            removeSpinner();//移除加载数据时转圈

                        });

                    }).catch(error => {
                        console.log("Error loading the magnetic map: ", error);
                        // Loaidng bar stop
                        NProgress.done();
                        removeSpinner();//移除加载数据时转圈
                    });
            }

        });

        // 手动创建 Spinner 并绑定到容器
        function showSpinner() {
            var container = document.getElementById('map-container');
            // 创建一个 Spinner 元素
            var spinner = document.createElement('div');
            spinner.classList.add('custom-spinner');
             // 将 Spinner 添加到容器内
            container.appendChild(spinner);
        }
         // 移除 Spinner
        function removeSpinner() {
            var container = document.getElementById('map-container');
            var spinner = container.querySelector('.custom-spinner');
            // 移除 Spinner
            if (spinner) {
                container.removeChild(spinner);
            }
        }

        //获取绘制范围的经纬度
        map.on(InteractiveMap.Event.Toolbar.postDraw, function (e) {

            // 防止绘制未完成时重复请求
            if (isDrawing) {
                console.log("Drawing already in progress. Please wait.");
                return;
            }

            // 设置为true，允许绘制 -> 重要！！用于处理重复提交
            isDrawing = true;

            // 获取当前用户画图的形状
            let type = e.detail.layerType;

            if (type === "rectangle") {
                var latlngs = e.detail.drawnLayer._latlngs[0];  // 获取 _latlngs 数组中的第一个数组 数组存放所有点坐标

                let coordinatesMap = new Map();
                latlngs.forEach((coord, index) => {
                    coordinatesMap.set(`Point${index + 1}`, [coord.lat, coord.lng]);
                    console.log(coordinatesMap)
                });

                // 将 Map 转换为普通对象
                let coordinatesObj = Object.fromEntries(coordinatesMap);

                // Sending data to the backend
                fetch("{% url 'porphyry_deposits:get_rectangle_coordinates' %}", {
                    method: 'POST',
                    headers: getCSRFHeaders(),
                    body: JSON.stringify({ coordinates: coordinatesObj }) // 无法传Map，只能转换为普通JSON对象来传递
                }).then(response => { // 此处往下所有的操作只不过是常规处理，后续慢慢修改，肯定不用处理获得的地理信息。
                    if (response.ok) {
                        return response.json();  // 解析返回的JSON数据
                        isDrawing = false;
                    } else {
                        throw new Error("Failed to send coordinates");
                        isDrawing = false;
                    }
                }).then(data => {
                    console.log("Response from server:", data.geojson);  // 处理后端返回的数据

                    isDrawing = false;

                    // 清楚旧图层
                    clearLayers()

                    let geoJsonLayer = L.geoJSON(data.geojson, { // 将 GeoJSON 数据转化为 Leaflet 图层 设置框样式颜色
                        style: function (feature) {

                            return {
                                color: '#FF0000',       // 边框颜色 (红色)
                                weight: 2,              // 边框线条宽度
                                fillColor: '#00FF00',   // 填充颜色 (绿色)
                                fillOpacity: 0.5        // 填充透明度
                            };
                        },
                        onEachFeature: function (feature, layer) {
                            // 为每个图层绑定一个点击事件，弹出提示框
                            layer.on('click', function () {
                                // 可以根据 feature.properties 中的数据展示不同内容
                                let popupContent = `Feature ID: ${feature.properties.permit_id}<br>
                                        Name: ${feature.properties.name}<br><br>
                                        Get more details`;
                                layer.bindPopup(popupContent).openPopup();
                            });
                        }
                    });

                    // let myLayer = new L.FeatureGroup();//创建图层

                    geoJsonLayer.addTo(drawnLayerGroup); // 将生成的图层添加到 drawnLayerGroup -> Jimmy作了修改，不是加到myLayer而是加到原始的图层上

                    // console.log(myLayer);
                    // myLayer.addTo(map.map);
                }).catch(error => {
                    console.error("Error:", error);
                    isDrawing = false;
                });
            } else if (type === "circle") { // TODO:画圆
                console.log(e.detail.drawnLayer)

            } else if (type === "marker") {

                const { lat, lng } = e.detail.drawnLayer._latlng;
                // 发送POST请求到后端
                // const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value; // 获取CSRF token
                const formData = new FormData();

                formData.append("latitude", lat);
                formData.append("longitude", lng);

                fetch("{% url 'porphyry_deposits:get_marker_coordinates' %}", {
                    method: "POST",
                    headers: getCSRFHeaders(),
                    body: formData // 如果用后端用json手动解析的话需要这样发: JSON.stringify({ latitude: latitude, longitude: longitude })
                }).then(response => { // 此处往下所有的操作只不过是常规处理，后续慢慢修改，肯定不用处理获得的地理信息。
                    if (response.ok) {
                        return response.json();  // 解析返回的JSON数据
                        isDrawing = false;
                    } else {
                        throw new Error("Failed to send coordinates");
                        isDrawing = false;
                    }
                }).then(data => {
                    console.log("Response from server:", data.geojson);  // 处理后端返回的数据

                    isDrawing = false;

                    clearLayers()

                    let geoJsonLayer = L.geoJSON(data.geojson, {
                        onEachFeature: function (feature, layer) {
                            if (feature.geometry.type === "Point") {
                                let popupContent = `Feature ID: ${feature.properties.permit_id}<br>
                                            Name: ${feature.properties.name}`;
                                layer.bindPopup(popupContent).openPopup();  // 显示 Popup 信息
                            }
                        }
                    });

                    // 将生成的 Marker 添加到 drawnLayerGroup
                    geoJsonLayer.addTo(drawnLayerGroup);

                }).catch(error => {
                    console.error("Error:", error);
                    isDrawing = false;
                });

            } else if (type === "polyline") { // 每次点一个点，可以圈出一个范围
                // drawnLayer下的editing下的latlngs是一个数组，点了多少个点数组就有多少个坐标信息

            } else if (type === "polygon") {
                // 六边形
            }

        });

        // Create CSRF header
        function getCSRFHeaders() {
            // 获取 CSRF 令牌
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            // 创建 Headers 对象并设置 CSRF 头
            const headers = new Headers();
            headers.append("X-CSRFToken", csrfToken);

            return headers;
        }

        // Remove old layers
        function clearLayers() {
            drawnLayerGroup.clearLayers();
        }

        // 处理绘图工具栏的事件
        map.on(InteractiveMap.Event.Toolbar.preDraw, function (e) {
            // // 每次之前都先删除之前的页面
            // const interactive_layer = document.getElementsByClassName("leaflet-interactive");
            // if (interactive_layer.length > 0 ) {
            //     let elementRemove = interactive_layer[0];
            //     elementRemove.parentNode.removeChild(elementRemove);
            // }
            console.log("Drawing operation started...");
            console.log("======", e.detail, "======");
        });
        map.on(InteractiveMap.Event.Toolbar.postDraw, function () {
            console.log("Drawing operation finished.");
        });
        map.on(InteractiveMap.Event.Toolbar.selectedFeature, function (e) {
            console.log("Selected feature:", e.detail.target.feature.properties.name);
        });
    });
</script>