{% load static %}

<!-- Import HTMX framework -->
<script src="https://unpkg.com/htmx.org@2.0.2"></script>

<!-- Using the GeoRasterLayer plugin -->
<script src="https://unpkg.com/georaster"></script>
<script src="https://unpkg.com/georaster-layer-for-leaflet"></script>

{# CSS and JavaScript for NProgress #}
<!-- https://github.com/rstacruz/nprogress/tree/master -->
<link rel="stylesheet" href="https://unpkg.com/nprogress/nprogress.css">
<script src="https://unpkg.com/nprogress/nprogress.js"></script>

<!-- All these are related to the map interactive functions -->
{# CSS and JavaScript for MiniMap #}
<link rel="stylesheet" href="{% static 'interactive_map/css/Control.MiniMap.css' %}" />
<script src="{% static 'interactive_map/js/Control.MiniMap.js' %}" type="text/javascript"></script>

<!-- {# CSS and JavaScript for Leaflet Draw #}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>  -->

{# CSS and JavaScript for Fullscreen #}
<link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css"
    rel="stylesheet" />
<script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>

{# CSS and JavaScript for Layers Tree #}
<link rel="stylesheet" href="{% static 'interactive_map/css/L.Control.Layers.Tree.css' %}" />
<script src="{% static 'interactive_map/js/L.Control.Layers.Tree.js' %}"></script>

{# CSS for Map API and Custom Map CSS #}
<link rel="stylesheet" href="{% static 'interactive_map/css/api.css' %}" />
<link rel="stylesheet" href="{% static 'interactive_map/css/map.css' %}" />

<!-- 引入 FontAwesome 的 CSS 文件 -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

{# CSS for the porphyry deposits #}
<link rel="stylesheet" href="{% static 'css/porphyry_deposits.css' %}">