{% extends 'appboard/base.html' %}

{% load modal_tags %}
{% load project_tags %}
{% load static %}
{% load humanize %}

{% block title%}
<title>Porphyry Deposits</title>
{% endblock %}

<!-- Because it's embedded in another page, add the block content -->
{% block content %}


<!-- Main Container -->
<div id="pdp" style="display: flex; flex-direction: column; height: 100%; width: 100%;">

    <!-- Section: Title -->
    <section id="info-panel" style="height: 50px; padding-bottom: 10px;">
        <h2>Porphyry Deposits Prediction</h2>
    </section>

    <!-- TODO: 点击get后查询 -->
    <!-- Section: User Input -->
    <section id="user-input">
        <!-- hx-post="{% url 'porphyry_deposits:get_marker_coordinates' %}" -->
        <form id="user-input-form" hx-post="{% url 'porphyry_deposits:get_marker_coordinates' %}" hx-swap="none">
            <div class="input-group">
                <div class="input-item">
                    <label>Longitude</label>
                    <!-- hx-post="{% url 'porphyry_deposits:validate_longitude' %}" -->
                    <!-- hx-trigger="blur" -->
                    <input type="text" id="longitude" name="longitude" oninput="validateForm()" autocomplete="off">
                    <div id="longitude-error" class="error-message"></div>
                </div>

                <div class="input-item">
                    <label>Latitude</label>
                    <!-- hx-post="{% url 'porphyry_deposits:validate_latitude' %}" -->
                    <!-- hx-trigger="blur" -->
                    <input type="text" id="latitude" name="latitude" oninput="validateForm()" autocomplete="off">
                    <div id="latitude-error" class="error-message"></div>
                </div>

                <div class="input-item input-button">
                    <button type="submit" id="submit-button" disabled>Get the result</button>
                </div>
                <div class="input-item input-button">
                    <button type="button" id="clear-button" class="btn btn-primary">Clear</button>
                </div>
            </div>
            {% csrf_token %}
        </form>
    </section>

    <!-- Section: Map and Clear Layers Button -->
    <section style="margin: 10px;">
        <div class="d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-outline-primary" id="clearLayer">Clear Layers</button>

            <div class="btn-group" id="mapButton" role="group" aria-label="Map toggle button group">
                <button type="button" class="btn btn-outline-primary active" id="defaultMap">Normal Map</button>
                <button type="button" class="btn btn-outline-primary" id="magneticMap">Magnetic Map</button>
            </div>
        </div>
    </section>

    <!-- Section: Map Container -->
    <section id="map-container"></section>

    <section id="prediction-history">

        <div class="d-flex history-title">
            <h2>Prediction History</h2>
            <button type="button" id="clear-history-button" class="btn btn-primary ms-auto">Clear History</button>
        </div>

        <section>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" style="width: 5%;">#</th>
                        <th scope="col" style="width: 15%;">Shapes</th>
                        <th scope="col" style="width: 15%;">probability</th>
                        <th scope="col" style="width: 50%;">coordinates</th>
                        <th scope="col" style="width: 15%;">Operation</th>
                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
        </section>
    </section>
</div>

{% endblock %}

{% block extra_head %}
{% include 'utils/extra_head.html' %}
{% endblock %}

{% block extra_body %}
{% include 'utils/extra_body.html' %}
{% endblock %}