{% extends 'appboard/base.html' %}

{% load modal_tags %}
{% load project_tags %}
{% load static %}
{% load humanize %}

{% block title%}
<title>Porphyry Deposits</title>
{% endblock %}

<!-- Because it's embedded in another page, add the block content -->
{% block content %}

<!-- TODO: Design the style -->
<!-- pdp = porphyry deposits prediction -->
<div id="pdp" style="display: flex; flex-direction: column; height: 100%; width: 100%;">
    <!-- Titile box -->
    <div id="info-panel" style="height: 50px; padding-bottom: 10px; padding-bottom: 10px;">
        <!-- Content inside the green box -->
        <h2>Porphyry Deposits Prediction</h2>
    </div>
    <!-- User input box -->
    <div id="user-input">
        <div>
            <form id="user-input-form" hx-post="{% url 'porphyry_deposits:prediction' %}" hx-target="#pdp"
                hx-swap="innerHTML" onsubmit="return validateForm()">
                <div class="input-group">
                    <div class="input-item">

                        <label>Longitude</label>
                        <input type="text" id="longitude" name="longitude"
                            hx-post="{% url 'porphyry_deposits:validate_longitude' %}" hx-trigger="change"
                            hx-target="#longitude-error" hx-swap="outerHTML">
                        <!-- eror_message页面中用的是id -->
                        <div id="longitude-error" class="error-message"></div>
                    </div>

                    <div class="input-item">
                        <label>Latitude</label>
                        <input type="text" id="latitude" name="latitude"
                            hx-post="{% url 'porphyry_deposits:validate_latitude' %}" hx-trigger="change"
                            hx-target="#latitude-error" hx-swap="outerHTML">
                        <div id="latitude-error" class="error-message"></div>
                    </div>

                    <div class="input-item">
                        <button type="submit" id="submit-button" disabled>Get the result</button>
                    </div>
                </div>
                {% csrf_token %}
            </form>

        </div>
        <div style="border: solid blue 1px; margin-top: 10px; margin-bottom: 10px;">
            <p style="color: red;">Maybe we will add other funcitons in this area later.</p>
        </div>
    </div>

    <!-- Map Ccntainer box -->
    <div id="map-container" style="flex-grow: 1;"> </div>
</div>
{% endblock %}

{% block extra_head %}
{% include 'utils/extra_head.html' %}
{% endblock %}

{% block extra_body %}
{% include 'utils/extra_body.html' %}

<style>
    .input-group {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        /* 控制输入框之间的间距 */
    }

    .input-item {
        display: flex;
        flex-direction: column;
    }

    .error-message {
        color: red;
        font-size: 0.85em;
        margin-top: 5px;
    }

    .input-item input {
        padding: 5px;
        box-shadow: 0 0 3px #ccc;
        border-radius: 3px;
        border: 1px solid #ccc;
    }

    .input-item button {
        margin-top: 20px;
        padding: 5px 10px;
        border-radius: 3px;
        border: none;
        background-color: rgb(18, 27, 160);
        color: rgb(255, 255, 255);
        cursor: pointer;
    }

    .input-item button:hover {
        background-color: #0056b3;
    }

    #submit-button:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }
</style>

<script>
    // Add CSRF token to the request header
    document.addEventListener('htmx:configRequest', function (event) {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        event.detail.headers['X-CSRFToken'] = csrfToken;
    });

    function validateForm() {
        var longitudeErrorElement = document.getElementById('longitude-error');
        var latitudeErrorElement = document.getElementById('latitude-error');

        var longitudeError = longitudeErrorElement ? longitudeErrorElement.innerText.trim() : '';
        var latitudeError = latitudeErrorElement ? latitudeErrorElement.innerText.trim() : '';

        var longitudeInput = document.getElementById('longitude');
        var latitudeInput = document.getElementById('latitude');

        // Clear error messages before each validation
        if (longitudeErrorElement) {
            longitudeErrorElement.innerText = '';
        }
        if (latitudeErrorElement) {
            latitudeErrorElement.innerText = '';
        }

        // Verify that the input longitude is valid
        var longitudeError = '';
        var latitudeError = '';

        if (!isValidLongitude(longitudeInput.value.trim())) {
            longitudeError = 'Invalid longitude value.';
        }

        if (!isValidLatitude(latitudeInput.value.trim())) {
            latitudeError = 'Invalid latitude value.';
        }

        // Display error messages, if any
        if (longitudeErrorElement) {
            longitudeErrorElement.innerText = longitudeError;
        }
        if (latitudeErrorElement) {
            latitudeErrorElement.innerText = latitudeError;
        }

        console.log("Longitude Error: ", longitudeError);
        console.log("Latitude Error: ", latitudeError);

        var submitButton = document.getElementById('submit-button');
        if (longitudeError === '' && latitudeError === '') {
            submitButton.disabled = false; // Allow to submit
        } else {
            submitButton.disabled = true; // Not allow to submit
        }
    }


    // Verify that the input longitude is valid
    function isValidLongitude(longitude) {
        var lon = parseFloat(longitude);
        return !isNaN(lon) && lon >= -180 && lon <= 180;
    }

    // Verify that the input latitude is valid
    function isValidLatitude(latitude) {
        var lat = parseFloat(latitude);
        return !isNaN(lat) && lat >= -90 && lat <= 90;
    }

    document.body.addEventListener('htmx:afterSwap', function (event) {
        if (event.detail.target.id === 'longitude-error' || event.detail.target.id === 'latitude-error') {
            validateForm(); // Check for error messages and update button status after each update
        }
    });


    var numberPattern = /^-?\d*(\.\d*)?$/;

    document.querySelectorAll('input').forEach(input => {
        input.addEventListener('input', function () {

            var value = event.target.value;

            if (!numberPattern.test(value)) {
                // Deletes the last non-numeric character entered and does not allow the user to enter it indiscriminately
                event.target.value = value.slice(0, -1);
            }

            // Validate the user input everytime
            validateForm();
        });
    });
</script>

{% endblock %}