{% extends 'appboard/base.html' %}

{% load modal_tags %}
{% load project_tags %}
{% load static %}
{% load humanize %}

{% block title%}
<title>Porphyry Deposits</title>
{% endblock %}

<!-- Because it's embedded in another page, add the block content -->
{% block content %}

<!-- TODO: Design the style -->
<!-- pdp = porphyry deposits prediction -->
<div id="pdp" style="display: flex; flex-direction: column; height: 100%; width: 100%;">
    <!-- Titile box -->
    <div id="info-panel" style="height: 50px; padding: 10px;">
        <!-- Content inside the green box -->
        <h2>Porphyry Deposits Prediction</h2>
    </div>
    <!-- User input box -->
    <div id="user-input">
        <div>
            <!-- User input function -->
            <!-- TODO: Design the style -->
            <form hx-post="{% url 'porphyry_deposits:prediction' %}" hx-target="#pdp" hx-swap="innerHTML"
                hx-trigger="submit">
                <input type="text" name="longitude" placeholder="Please input the longitude">
                <input type="text" name="latitude" placeholder="Please input the latitude">
                <button type="submit">Get the reuslt</button>
                {% csrf_token %}
            </form>
        </div>
        <div style="border: solid blue 1px; margin-top: 10px;">
            <p style="color: red;">Maybe we will add other funcitons in this area later.</p>
        </div>
    </div>

    <!-- Map Ccntainer box -->
    <div id="map-container" style="flex-grow: 1;"></div>
</div>
{% endblock %}

{% block extra_head %}
    {% include 'utils/extra_head.html' %}
{% endblock %}

{% block extra_body %}
    {% include 'utils/extra_body.html' %}

    <style>
        #user-input {
            margin: 20px;
            height: 100px;
        }
    </style>
{% endblock %}