<ul>
    <li class="has-children active">
        <a href="#home"><span>Home</span></a>
    </li>
    <li class="has-children">
        <a href="#about"><span>About</span></a>
    </li>
    <li class="has-children">
        <a href="#process"><span>Process</span></a>
    </li>
    <li class="has-children">
        <a href="#solutions"><span>Solutions</span></a>
    </li>
    <li class="has-children">
        <a href="#testimonial"><span>Testimonial</span></a>
    </li>
    <li class="has-children">
        <a href="#contact"><span>Contact</span></a>
    </li>
</ul>