{% extends "appboard/base.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block extra_head %}
    {# CSS and JavaScript for M Map #}
    <link rel="stylesheet" href="{% static 'interactive_map/css/Control.MiniMap.css' %}" />
    <script src="{% static 'interactive_map/js/Control.MiniMap.js' %}" type="text/javascript"></script>

    {# CSS and JavaScript for Leaflet Draw #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>

    {# CSS and JavaScript for Fullscreen #}
    <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" rel="stylesheet" />
    <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>

    {# CSS and JavaScript for Layers Tree #}
    <link rel="stylesheet" href="{% static "interactive_map/css/L.Control.Layers.Tree.css" %}" />
    <script src="{% static "interactive_map/js/L.Control.Layers.Tree.js" %}"></script>

    {# CSS for Map API and Custom Map CSS #}
    <link rel="stylesheet" href="{% static "interactive_map/css/api.css" %}" />
    <link rel="stylesheet" href="{% static "interactive_map/css/map.css" %}" />

    {% csrf_token %}


{% endblock %}
{% block content %}
    <div class="container-fluid content-margin-top-offest mb-5 sp-map">
        <div class="container">

            <h4 class="text-ofx-blue pb-4">Map Test {{ slug }}<i class="ms-2 fas fa-fw fal fa-map"></i></h4>
            <div id="map" style="position: inherit !important;"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_body %}
    <script src="{% static 'interactive_map/js/api.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
$(document).ready(function () {

            const map = $('#map').InteractiveMap({
                width: '100%',
                height: '800px',
                widgets: ['minimap', 'fullscreen', 'legend', 'scale', 'toolbar', 'resetBounds', 'label', 'mouseCoords', 'searchBox', 'zoomButton'],
                layers: [
                    {% comment %}
                    {# PROSPECT ENDPOINT #}
                    {
                        url: "{% url 'interactive_map:project_prospects' slug=slug %}",
                        tooltip: (feature) => feature.properties['name'],
                    },
                    {% endcomment %}
                    {# TENEMENT ENDPOINT #}
                    {
                        url: "{% url 'interactive_map:project_tenements' slug=slug %}",
                        tooltip: (feature) => {
                            const {
                                permit_type,
                                permit_number,
                                permit_status,
                                permit_status_display,
                                date_lodged,
                                date_expiry,
                                date_granted,
                                ahr_name,
                            } = feature.properties;

                            return `
                                <table>
                                    <tbody>
                                        <tr><th>Permit ID: </th><td>${permit_type} ${permit_number}</td></tr>
                                        ${date_granted ? `<tr><th>Granted Date: </th><td>${date_granted}</td></tr>
                                        <tr><th>Expiry Date: </th><td>${date_expiry}</td></tr>` : `<tr><th>Lodged Date</th><td>${date_lodged}</td></tr>`}
                                        <tr><th>Company Name: </th><td>${ahr_name}</td></tr>
                                    </tbody>
                                </table>
                            `;
                        },
                    },
                    {# PARCEL ENDPOINT #}
                    {
                        url: "{% url 'interactive_map:lms_parcels' slug=slug %}",
                        collapsed: false,
                        tooltip: function (feature) {
                            const {feature_name, lot, plan} = feature.properties;
                            let tooltipParts = [feature_name] || [];
                            if (lot && plan) {
                                tooltipParts.push(`${lot}/${plan}`);
                            }
                            return tooltipParts.join(' ') || 'N/A';
                        },
                    },
                ]
            });

            map.on(InteractiveMap.Event.Layer.created, function (e) {
                console.log(e.type, e.detail);

            }).on(InteractiveMap.Event.Layer.postLoad, function (e) {
                console.log(e.type, e);

            }).on(InteractiveMap.Event.Feature.mouseOver, function (e) {
                // console.log('Event.Layer.mouseOver', e.detail);

            }).on(InteractiveMap.Event.Feature.mouseOut, function (e) {
                // console.log('Event.Layer.mouseOut', e.detail);

            }).on(InteractiveMap.Event.Feature.click, function (e) {
                console.log(e.type, e.detail);

            // Mark Events
            }).on(InteractiveMap.Event.Mark.created, function (e) {
                console.log(e.type, e.detail);

            // Toolbar Events
            }).on(InteractiveMap.Event.Toolbar.preDraw, function (e) {
                console.log(e.type, e.detail);

            }).on(InteractiveMap.Event.Toolbar.postDraw, function (e) {
                console.log(e.type, e.detail);

            }).on(InteractiveMap.Event.Toolbar.selectedFeature, function (e) {
                console.log(e.type, e.detail);

                const feature = e.detail.target.feature
                const { permit_id, permit_type, permit_status, permit_number } = feature.properties;
                if (!permit_id) {
                    return;
                }
                const id = `${permit_type}-${permit_status}`;
                const table = $(`#${id}-table`).DataTable();
                const isDuplicate = table.rows().data().toArray().some(row => {
                    return (row.permit_type === permit_type && row.permit_number === permit_number);
                });
                if (!isDuplicate) {
                    table.row.add(feature.properties).draw();
                }

            // Search Box Events
                }).on(InteractiveMap.Event.Search.changed, function (e) {
                // Filter the features and display the first 10 options.
                e.detail.widget.filter('permit_id');

                }).on(InteractiveMap.Event.Search.submit, function (e) {
                    // Find the feature, and zoom to it.
                    e.detail.widget.search('permit_id');
                });
        });
    </script>
{% endblock %}
</html>
