.leaflet-draw-draw-polygon {
    display: none !important;
}

.leaflet-draw-draw-polyline {
    display: none !important;
}

.leaflet-draw-draw-circlemarker {
    display: none !important;
}

/* 隐藏编辑按钮 */
.leaflet-draw-edit-edit {
    display: none !important;
}

/* 隐藏删除按钮 */
.leaflet-draw-edit-remove {
    display: none !important;
}

.input-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.input-item {
    display: flex;
    flex-direction: column;
}

.error-message {
    color: red;
    font-size: 0.85em;
    margin-top: 5px;
}

.input-item input {
    padding: 5px;
    box-shadow: 0 0 3px #ccc;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.input-item button {
    margin-top: 25px;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    background-color: rgb(18, 27, 160);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.input-item button:hover {
    background-color: #0056b3;
}

#submit-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* The style of the loading bar */
#nprogress .bar {
    height: 15px;
}

#nprogress .spinner-icon {
    width: 50px;
    height: 50px;
    border-width: 15px;
}

/* 自定义 Spinner 样式 */
.custom-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
    z-index: 100000;
}


/* 旋转动画 */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#map-container {
    flex-grow: 1;
    position: relative;
    height: 100vh;
    margin-bottom: 30px;
}

#prediction-history table {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    display: block;
}

#prediction-history tbody {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
}

#prediction-history thead,
#prediction-history tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.d-flex {
    margin-bottom: 10px;
}

.pop-up-btn {
    color: white !important;
}