{% if view.instance %}
    {% with view.instance as task %}
        <table class="table-bordered">
            <tbody>
            <tr>
                <th>Title:</th>
                <td>
                    <span data-field="name" data-value="{{ task.name }}">{{ task.name }}</span>
                    <button data-bs-toggle="modal" data-bs-target="#deleteTaskModal" data-action="delete"
                            data-url="{% url 'lms:delete_task' slug=view.project.slug owner=task.owner.id task=task.id %}">Delete
                    </button>
                    <button data-bs-toggle="modal" data-bs-target="#modifyTaskModal" data-action="modify"
                            data-url="{% url 'lms:modify_task' slug=view.project.slug owner=task.owner.id task=task.id %}">Modify
                    </button>
                </td>
            </tr>
            <tr>
                <th>Content:</th>
                <td data-field="content" data-value="{{ task.content }}">{{ task.content }}</td>
            </tr>
            <tr>
                <th>Status:</th>
                <td data-field="status" data-value="{{ task.status }}">{{ task.get_status_display }}</td>
            </tr>
            <tr>
                <th>Priority:</th>
                <td data-field="priority" data-value="{{ task.priority }}">{{ task.get_priority_display }}</td>
            </tr>
            <tr>
                <th>Date Due:</th>
                <td data-field="date_due" data-value="{{ task.date_due|date:'Y-m-d' }}">{{ task.date_due }}</td>
            </tr>
            <tr>
                <th>Date Created:</th>
                {# READONLY #}
                <td>{{ task.date_created }} by {{ task.user }}</td>
            </tr>
            <tr>
                <th>Last Modified:</th>
                {# READONLY #}
                <td>{{ task.date_updated }} by {{ task.user_updated }}</td>
            </tr>
            </tbody>
        </table>
    {% endwith %}
{% elif view.queryset %}
    {% for task in view.queryset %}
        <li data-type="task" data-id="{{ task.id }}">

            <input type="checkbox" data-category="task"
                   data-url="{% url "lms:task" slug=view.project.slug owner=task.owner.id task=task.id %}">
            <label for="task">
                <b>{{ task.name }}</b>
                <i>{{ task.date_created }}</i>
            </label>
            <ol data-category="task">
                {# OWNER TASKS #}
            </ol>

        </li>
    {% endfor %}
{% else %}
    <i>None</i>
{% endif %}