.data-dropdown{
    display:none;
    margin-bottom: 0.7rem;
    padding-left: 0.5rem;
}

.exploration-dropdown{
    display:none;
    margin-bottom: 0.7rem;
    max-width: 15rem;
    padding-left: 0.5rem;
}

ul {
    padding-left: 10px;
}

span{
    white-space:initial;
}

.unlinked{
    color:gray
}