{% extends 'appboard/base.html' %}

{% load modal_tags %}
{% load project_tags %}
{% load static %}
{% load humanize %}

{% block head_title %}
    {{ project.name }}
{% endblock %}

{% block extra_head %}

    {# Layers Tree #}
    <script src="{% static "interactive_map/js/L.Control.Layers.Tree.js" %}"></script>
    <link rel="stylesheet" href="{% static "interactive_map/css/L.Control.Layers.Tree.css" %}"/>

    {# MAP CSS #}
    <link rel="stylesheet" href="{% static "interactive_map/css/api.css" %}"/>

    {% csrf_token %}
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'project/css/django_autocomplete_light.css' %}"/>
    <script>
        window.django = {jQuery: jQuery.noConflict(false)};
    </script>
    {{ addTenementForm.media }}

{% endblock %}

{% block breadcrumb %}
    <a class="nav-link" href="{{ project_index }}">Project Index</a> /
    <a class="nav-link" href="#">{{ project.name }}</a>
{% endblock %}

{% block content %}

<div
  id="flash-message" class="text-md ms-4 mt-2">
{% if messages %}
{% for message in messages %}
{% if message.level == 25 %}
<div
  class="alert alert-success p-3"> {{ message }}
</div>
{% endif %} {% endfor %} {% endif %}
</div>    

    <div class="container-fluid  mb-4 content-margin-top-offest">

        <div class="container">

            <div class="breadcrumb">
                <a href="{% url 'project:index' %}"
                   class="breadcrumb-item text-ofx-blue-light">My Projects</a>
                <span class="breadcrumb-item">{{ project.name }} - Project Dashboard</span>
            </div>
            <div id="title-divider" class="mb-4"></div>
            <h4 class="text-ofx-blue mb-4">{{ project.name }} - Project Dashboard</h4>


            {# Project Info #}
            <div class="row mb-4">
                <div class="col-12 mb-4 mb-xl-0">

                    <table class="table table-sm table-borderless dataTable" id="project_info">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Owner</th>
                            {% comment %} <th>Credits</th> {% endcomment %}
                            <th>Created</th>
                            <th>Disk Space Usage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ project.name }}</td>
                            <td>{{ project.owner.full_name }}</td>
                            {% comment %} <td>{{ project.credits|intcomma }}</td> {% endcomment %}
                            <td>{{ project.created_at }}</td>
                            <td>{{ project.disk_space_usage_str }}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            {# Project Dashboard Menu Items Start #}
            <div class="row mb-2">
                <div class="col-sm-12 col-xl-8 mb-4 mb-xl-0">
                    {# MAIN NAV #}
                    <div class="card shadow mb-2">
                        {# Nav Header #}
                        <div class="card-header">
                            <div class="nav nav-tabs card-header-tabs p-dash-nav" id="nav-tab" role="tablist">
                                <a class="nav-link active" id="nav-tenements-tab" data-bs-toggle="tab"
                                   data-bs-target="#nav-tenements" aria-controls="nav-tenements" aria-selected="true">
                                    Tenements
                                </a>
                                <a class="nav-link" id="nav-targets-tab" data-bs-toggle="tab"
                                   data-bs-target="#nav-targets" aria-controls="nav-targets" aria-selected="false">
                                    Prospects
                                </a>
                                <a class="nav-link" id="nav-members-tab" data-bs-toggle="tab"
                                   data-bs-target="#nav-members" aria-controls="nav-members" aria-selected="false">
                                    Members
                                </a>
                                <a class="nav-link" id="nav-datasets-tab" data-bs-toggle="tab"
                                   data-bs-target="#nav-datasets" aria-controls="nav-datasets" aria-selected="false">
                                    Datasets
                                </a>
                                {% comment %}
                                <a class="nav-link" id="nav-models-tab" data-bs-toggle="tab"
                                   data-bs-target="#nav-models" aria-controls="nav-models" aria-selected="false">
                                    Models
                                </a>
                                <a class="nav-link" id="nav-reports-tab" data-bs-toggle="tab"
                                   data-bs-target="#nav-reports" aria-controls="nav-reports" aria-selected="false">
                                    Reports
                                </a>
                                {% if project|is_admin:member %}
                                    <a class="nav-link" id="nav-settings-tab" data-bs-toggle="tab"
                                       data-bs-target="#nav-settings" aria-controls="nav-settings"
                                       aria-selected="false">
                                        Settings
                                    </a>
                                {% endif %}
                                {% endcomment %}
                            </div>
                        </div>
                        {# Nav Content #}
                        <div class="card-body tab-content overflow-auto" id="nav-tabContent">
                            {# Tenements Tab #}
                            <div class="tab-pane active" id="nav-tenements" role="tabpanel"
                                 aria-labelledby="nav-tenements-tab">
                                <table id="tenement-table" class=" table table-sm dt-responsive w-100">
                                    <thead>
                                    <tr>
                                        <th>Permit ID</th>
                                        <th>Permit Status</th>
                                        <th>Grant Date</th>
                                        <th>Tags</th>
                                        <th>
                                            {% if project|is_admin:member %}
                                                <span data-bs-toggle="modal" data-bs-target="#addTenementModal">
                                            <button class="btn btn-ofx-fa btn-ofx-green float-end text-xs"
                                                    data-bs-toggle="tooltip" data-bs-placement="left"
                                                    title="Add Tenement">
                                                <span class="fa fa-plus"></span>
                                            </button>
                                        </span>
                                        {% endif %}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        {# Targets Tab#}
                        <div class="tab-pane" id="nav-targets" role="tabpanel" aria-labelledby="nav-targets-tab">
                            <table id="target-table" class=" table table-sm dt-responsive w-100">
                                <thead>
                                <tr>
                                    <th>Permit ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Location (Lat/Long)</th>
                                    <th>
                                        {% if project|is_admin:member %}
                                            <span data-bs-toggle="modal" data-bs-target="#addEditTargetModal">
                                            <button id="addTargetButton"
                                                    class="btn btn-ofx-fa btn-ofx-green float-end text-xs"
                                                    data-bs-toggle="tooltip" data-bs-placement="left"
                                                    title="Add Prospect">
                                                <span class="fa fa-plus"></span>
                                            </button>
                                        </span>
                                            {% endif %}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                            {# Members Tab #}
                            <div class="tab-pane" id="nav-members" role="tabpanel" aria-labelledby="nav-members-tab">
                                <table id="member-table" class=" table table-sm dt-responsive w-100">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Contact</th>
                                        <th>Permission</th>
                                        <th>Join Date</th>
                                        <th>
                                            {% if project|is_admin:member %}
                                                <span data-bs-toggle="modal" data-bs-target="#inviteUserModal">
                                            <button class="btn btn-ofx-fa btn-ofx-green float-end text-xs"
                                                    data-bs-toggle="tooltip" data-bs-placement="left"
                                                    title="Invite Member">
                                                <span class="fa fa-plus"></span>
                                            </button>
                                        </span>
                                            {% endif %}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            {# Datasets Tab#}
                            <div class="tab-pane" id="nav-datasets" role="tabpanel" aria-labelledby="nav-datasets-tab">
                                <table id="dataset-table" class=" table table-sm w-100">
                                    <thead>
                                    <tr>
                                        <th>Dataset</th>
                                        <th>File Size</th>
                                        <th>Date Created</th>
                                        <th>
                                            {% if project|is_write:member %}
                                                <span data-bs-toggle="modal" data-bs-target="#addDatasetModal">
                                        <button class="btn btn-ofx-fa btn-ofx-green float-end text-xs"
                                                data-bs-toggle="tooltip" data-bs-placement="left" title="Add Dataset">
                                            <span class="fa fa-plus"></span>
                                        </button>
                                    </span>
                                            {% endif %}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                            {# Models Tab#}
                            <div class="tab-pane" id="nav-models" role="tabpanel" aria-labelledby="nav-models-tab">
                                <table id="model-table" class=" table table-sm dt-responsive w-100">
                                    <thead>
                                    <tr>
                                        <th>Model</th>
                                        <th>File Size</th>
                                        <th>Date Created</th>
                                        <th>
                                            {% if project|is_write:member %}
                                                <span data-bs-toggle="modal" data-bs-target="#addModelModal">
                                        <button class="btn btn-ofx-fa btn-ofx-green float-end text-xs"
                                                data-bs-toggle="tooltip" data-bs-placement="left" title="Add Model">
                                            <span class="fa fa-plus"></span>
                                        </button>
                                    </span>
                                            {% endif %}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            {# Reports Tab#}
                            <div class="tab-pane" id="nav-reports" role="tabpanel" aria-labelledby="nav-reports-tab">
                                <table id="report-table" class=" table table-sm dt-responsive w-100">
                                    <thead>
                                    <tr>
                                        <th>Dataset</th>
                                        <th>Cleaner Report</th>
                                        <th>Analysis Report</th>
                                        <th>Type</th>
                                        <th><!-- Are actions necessary here? --></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            {% comment %}
                            {# Settings Tab (What goes here?) #}
                            {% if project|is_admin:member %}
                                <div class="tab-pane" id="nav-settings" role="tabpanel"
                                     aria-labelledby="nav-settings-tab">
                                    Coming Soon
                                </div>
                            {% endif %}
                            {% endcomment %}
                        </div>
                        {# End Nav Content #}
                    </div>

                    {# UTILITY BAR #}
                    <div class="float-end">
                        {# TODO: Primary key for project isnt the same as the one in the KMS, something to do with a topic PK, how do i get this #}
                        <button class="btn btn-sm btn-ofx-blue" type="button"
                                onclick='window.location.href="{% url 'project:index' %}";'>
                            Project Index <i class="fa fa-diagram-project"></i>
                        </button>
                        <button class="btn btn-sm btn-ofx-blue" type="button"
                                onclick='window.location.href="{% url 'kms:project_page' slug=project.slug %}";'
                        title="Knowledge Management System for {{ project.name }}" >
                            KMS <span class="fa fa-comment"></span>
                        </button>
                        <button class="btn btn-sm btn-ofx-blue" type="button"
                                onclick='window.location.href="{% url 'interactive_map:home' %}";'
                                title="Tenure Interactive Map"
                        >
                            Map <span class="fa fa-map-marker-alt"></span>
                        </button>
                        <button class="btn btn-sm btn-ofx-blue" type="button"
                                onclick='window.location.href="{% url "lms:lms" slug=project.name|slugify %}";'
                                title="Landowner Management System for {{ project.name }}"
                        >
                            LMS <i class="fa-solid fa-earth-oceania"></i>
                        </button>
                        {% if project|is_owner:member %}
                            <span data-bs-toggle="modal" data-bs-target="#deleteProjectModal">
                            <button class="btn btn-sm btn-ofx-red" title="Delete Project">
                                Delete <span class="fa fa-trash"></span>
                            </button>
                        </span>
                        {% endif %}
                    </div>
                </div>
                {# Project Map Box #}
                <div id = 'project_map_box'class="col-sm-12 col-xl-4 mb-4 mb-xl-0" style="height:200px">
                    <div class="card shadow w-100">
                        <div class="card-header font-weight-bold">Project Map</div>
                        <div class="card-body" id="project-map"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                {# Tasks / Map Row #}
                <div class="col-sm-12 col-xl-8">
                    {# Pending Tenement Tasks Card #}
                    <div class="card shadow mb-2">
                        <div class="card-header">
                            <span class="font-weight-bold">Activity Manager</span>
                        </div>
                        <div class="card-body">
                            {# Tenement Tasks Table #}
                            <table id="task-table" class="table table-sm dt-responsive w-100">
                                <thead>
                                <tr>
                                    <th>Permit ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Authority</th>
                                    <th>Due Date</th>
                                    <th>Attachment</th>
                                    <th>
                                        {% if project|is_write:member %}
                                            <span data-bs-toggle="modal" data-bs-target="#createTaskModal">
                                                <button class="btn btn-ofx-fa btn-ofx-green float-end text-xs"
                                                        data-bs-toggle="tooltip"
                                                        data-bs-placement="left" title="Create Task">
                                                    <span class="fa fa-plus"></span>
                                                </button>
                                            </span>
                                        {% endif %}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% modalform id='messageUser' title='Message User' dynamic='true' %}
        {% csrf_token %}
        {{ messageUserForm.as_p }}
        {# TODO: Message User form #}
        {% comment %} <p>Coming Soon.</p> {% endcomment %}
    {% endmodalform %}

    {# MODALFORM SETUP #}
    {% if project|is_write:member %}

        {% modalform id='createTask' title='Create Task' submit_text='Create' %}
            {% csrf_token %}
            {{ createTaskForm.as_p }}
        {% endmodalform %}

        {% modalform id='addDataset' title='Add Dataset' submit_text='Upload' %}
            {% csrf_token %}
            {{ createDatasetForm.as_p }}
        {% endmodalform %}

        {% modalform id='addModel' title='Add Model' submit_text='Upload' %}
            {% csrf_token %}
            {{ createModelForm.as_p }}
        {% endmodalform %}

    {% endif %}

    {% if project|is_admin:member %}
        {# TENEMENT MODALS #}
        {% modalform id='addTenement' title='Add Tenement' submit_text='Add' %}
            {% csrf_token %}
            <span
                    class="text-ofx-blue fa fa-question-circle"
                    data-bs-toggle="tooltip"
                    data-html="true"
                    title='Only tenements that have not been claimed will be shown'>
            </span>
            {{ addTenementForm.as_p }}

        {% endmodalform %}

        {# TASK MODALS #}
        {% modalform id='archiveTenementTask' title='Archive Task' submit_text='Archive' submit_class='btn-ofx-gray' dynamic='true' %}
            {% csrf_token %}
            <p>Archive the <b id="name"></b> task?</p>
        {% endmodalform %}

        {% modalform id='deleteTask' title='Delete Task' submit_text='Remove' submit_class='btn-ofx-red' dynamic='true' %}
            {% csrf_token %}
            <p>Remove <b id="name"></b> from the tenement?</p>
        {% endmodalform %}

        {# TARGET MODALS #}
        {% modalform id='addEditTarget' title='Add Prospect' submit_text='Add' dynamic='true' %}
            {% csrf_token %}
            {{ createTargetForm.as_p }}
            <input type="hidden" id="id_target_id" name="target_id">
        {% endmodalform %}

        {% modalform id='deleteTarget' title='Remove Prospect' submit_text='Remove' submit_class='btn-ofx-red' dynamic='true' %}
            {% csrf_token %}
            <p>Remove <b id="name"></b> from the project?</p>
        {% endmodalform %}

        {# USER MODALS #}
        {% modalform id='inviteUser' title='Invite User' submit_text='Send Invite' %}
            {% csrf_token %}
            {% comment %} <p><i>Inviting non-registered users coming soon.</i></p> {% endcomment %}
            {{ inviteUserForm.as_p }}
        {% endmodalform %}

        {% modalform id='modifyMember' title='Modify Member' submit_text='Save' submit_class='btn-ofx-gray' %}
            {% csrf_token %}
            {# TODO: Modify Member form #}
            {% comment %} <p>Coming Soon.</p> {% endcomment %}
        {% endmodalform %}

        {% modalform id='deleteMember' title='Remove Member' submit_text='Remove' submit_class='btn-ofx-red' dynamic='true' %}
            {% csrf_token %}
            <p>Remove <b id="email"></b> from the project?</p>
        {% endmodalform %}

        {% modalform id='deleteTenement' title='Relinquish Tenement' submit_class='Relinquish' submit_class='btn-ofx-red' dynamic='true' %}
            {% csrf_token %}
            {{ deleteTenementForm.as_p }}
            <p>Relinquish ownership of <b id="permit[type]"></b><b id="permit[number]"></b> from
                this project?
            </p>
            <p>This action will <strong class="text-ofx-red">permanently</strong> delete the following:</p>
            <ul>
                <li>All Tasks and associated files.</li>
                <li>All Targets within the Tenement.</li>
            </ul>
        {% endmodalform %}

        {% modalform id='deleteDataset' title='Delete Dataset' submit_text='Delete' submit_class='btn-ofx-red' dynamic='true' %}
            {% csrf_token %}
            {{ deleteDatasetForm.as_p }}
            <p>Delete dataset <b id="file[filename]"></b> from this project?
            </p>
            <p>This action will <strong class="text-ofx-red">permanently</strong> delete the following:</p>
            <ul>
                <li>All associated Dataclean reports.</li>
                <li>All associated Analysis reports.</li>
            </ul>
        {% endmodalform %}

        {% modalform id='deleteReport' title='Delete Report' submit_text='Delete' submit_class='btn-ofx-red' dynamic='true' %}
            {% csrf_token %}
            {{ deleteReportForm.as_p }}
            <p>Delete report <b id="file[filename]"></b> from this
                project?
            </p>
            <p>This action will <strong class="text-ofx-blue">not</strong> delete any of the following:</p>
            <ul>
                <li>Parent Dataset.</li>
                <li>Any associated Cleaner reports.</li>
            </ul>
        {% endmodalform %}

        {% modalform id='deleteModel' title='Delete Model' submit_text='Delete' submit_class='btn-ofx-red' dynamic='true' %}
            {% csrf_token %}
            {{ deleteModelForm.as_p }}
            <p>Delete the model <b id="file[filename]"></b> from this
                project?
            </p>
        {% endmodalform %}
    {% endif %}

    {% if project|is_owner:member %}

        {% modalform id='deleteProject' title='Delete Project' submit_text='Delete' submit_class='btn-ofx-red' %}
            {% csrf_token %}
            {{ deleteProjectForm.as_p }}
            <p>Permanently delete <b id="name">{{ project.name }}</b>
            </p>
            <p>This action will <strong class="text-ofx-red">permanently</strong> delete the following:</p>
            <ul>
                <li>The Project will be permanently deleted.</li>
                <li>All Tenements assigned to the project will be unclaimed.</li>
                <li>All Tasks and associated files.</li>
                <li>All Targets and associated files.</li>
                <li>All Datasets and associated files.</li>
                <li>All Models and associated files.</li>
                <li>All Reports and associated files.</li>
            </ul>
        {% endmodalform %}

    {% endif %}

    {# END MODALFORMS #}


{% endblock %}

{% block extra_body %}
    
    {{ addTenementForm.media }}

    <script type="text/javascript" src="{% static 'project/js/project_dashboard.js' %}"></script>
    <script src="{% static 'interactive_map/js/api.js' %}" type="text/javascript"></script>

    <script>
        setTimeout(function () {
            if (document.getElementById("flash-message") !== null)
                document.getElementById("flash-message").style.display = "none";
        }, 3000);


        $('button[type="submit"]').on('click', function (event) {
            formId = event.target.form.id;
            const form = document.getElementById(formId);
            if (!form.checkValidity()) {
                event.preventDefault();
                form.classList.add('was-validated');
            }

        });

        $(document).ready(function () {
            $("#addTenementModal").attr("data-bs-focus", "false")

            {% if project|is_admin:member %}

                var location_input = document.getElementById("id_location_input");

                var previousValue = location_input.value;
                location_input.addEventListener("input", function (event) {
                    if (location_input.value != previousValue) {
                        location_input.value = previousValue;
                    }
                });
                location_input.addEventListener("change", function (event) {
                    if (location_input.value != previousValue) {
                        location_input.value = previousValue;
                    }
                });

            {% endif %}

            let scrollYHeight = '300px'
            let tenementTable = $('#tenement-table').DataTable({
                'bSort': true,
                'bPaginate': false,
                'bDestroy': true,
                columnDefs: [
                    {targets: [4], className: 'noowrap'}
                ],
                columns: [
                    {
                        data: 'permit', bSortable: true,
                        mRender(permit) {
                            return `<a href="${permit['slug']}">${permit['display']}</a>`
                        }
                    },
                    {data: 'status', bSortable: true},
                    {data: 'date_granted', bSortable: true},
                    {data: 'tags', bSortable: false},
                    {
                        data: 'actions', bSortable: false,

                        mRender: function (permission) {
                            "{% if project|is_admin:member %}"
                                return ` 
                                <div class="float-end">
                                        <span data-bs-toggle="modal" data-bs-target="#deleteTenementModal">
                                            <button class="btn btn-sm btn-ofx-fa-red" data-bs-toggle="tooltip" data-bs-placement="left"
                                                    title="Relinquish Tenement">
                                                <span class="fa fa-trash"/>
                                            </button>
                                        </span></div>`;

                                "{% endif %}"
                            return null;
                        }
                    }

                ],
                ajax: {
                    url: "{% url 'project:get_project_tenements' slug=project.slug %}",
                    type: 'GET',
                    contentType: 'application/json',
                    data: function (response) {
                        return response.data;
                    },
                }
            });

            let targetsTable = $('#target-table').DataTable({
                'bSort': true,
                'bPaginate': false,
                'bDestroy': true,
                columnDefs: [
                    {targets: [4], className: 'noowrap'}
                ],
                columns: [
                    {
                        data: 'permit', bSortable: true,
                        mRender(data) {
                            if (data.length !== 0) {
                                permits =``
                                data.forEach(function(value){
                                    permits += `<tr><a href=` + value.slug + `>` + value.type + ' ' + value.number + `</a></tr>`
                                })
                                return permits
                            }
                            return `<a> None </a>`
                        }
                    },
                    {data: 'name', bSortable: true},
                    {data: 'description', bSortable: false},
                    {data: 'location', bSortable: true},
                    {
                        data: 'actions', bSortable: false,

                        render: function (data, type, row) {
                            " {% if project|is_admin:member %}"
                                return `<div class="float-end">
                                    <span data-bs-toggle="modal" data-bs-target="#addEditTargetModal">
                                        <button class="btn btn-ofx-fa btn-ofx-fa-gray" data-bs-toggle="tooltip" data-bs-placement="left" title="Edit Prospect">
                                            <span class="fa-sharp fa-solid fa-pen"/>
                                        </button>
                                    </span>
                                    <span data-bs-toggle="modal" data-bs-target="#deleteTargetModal">
                                        <button class="btn btn-sm btn-ofx-fa-red" data-bs-toggle="tooltip" data-bs-placement="left"
                                                title="Delete Prospect">
                                            <span class="fa fa-trash"/>
                                        </button>
                                    </span></div>`;
                                "   {% endif %}"
                        }

                    }
                ],
                ajax: {
                    url: "{% url 'project:get_targets' slug=project.slug %}",
                    type: 'GET',
                    contentType: 'application/json',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    dataSrc: function (response) {
                        for (let i = 0; i < response.data.length; i++) {
                            var coordinates = response.data[i].location.split(" ")
                            response.data[i].location = "[ " + coordinates[0] + ", " + coordinates[1] + " ]"
                        }
                        return response.data;
                    },
                }
            });

            let membersTable = $('#member-table').DataTable({
                'bSort': true,
                'bPaginate': false,
                'bDestroy': true,
                columnDefs: [
                    {targets: [4], className: 'noowrap'}
                ],
                columns: [
                    {data: 'name', bSortable: true},
                    {data: 'email', bSortable: true},
                    {
                        data: 'permission', bSortable: true,
                        render: function (data, type, row) {
                            switch (data) {
                                case 'Owner':
                                    return `<span class='text-ofx-orange'>Owner</span>`;
                                case 'Admin':
                                    return `<span class='text-ofx-red'>Admin</span>`;
                                default:
                                    return data;
                            }
                        }
                    },
                    {data: 'join_date', bSortable: true},
                    {
                        data: 'actions', bSortable: false,
                        render: function (data, type, row) {
                            let actions = "";

                            {% comment %} if (data.indexOf('message') >= 0) {
                                actions += `
                                    <span data-bs-toggle="modal" data-bs-target="#messageUserModal">
                                        <button class="btn btn-ofx-fa btn-ofx-fa-blue" data-bs-toggle="tooltip" data-bs-placement="left" title="Send Message">
                                            <span class="fa fa-comment"/>
                                        </button>
                                    </span>`;
                            } {% endcomment %}
                            if (data.indexOf('remove') >= 0) {
                                actions += `
                                    <span data-bs-toggle="modal" data-bs-target="#deleteMemberModal">
                                        <button class="btn btn-ofx-fa btn-ofx-fa-red" data-bs-toggle="tooltip" data-bs-placement="left" title="Remove Member">
                                            <span class="fa fa-user-alt-slash"/>
                                        </button>
                                    </span>`;
                            }
                            {% comment %} if (data.indexOf('modify') >= 0) {
                                actions += `
                                <span data-bs-toggle="modal" data-bs-target="#modifyMemberModal">
                                    <button class="btn btn-ofx-fa btn-ofx-fa-gray" data-bs-toggle="tooltip" data-bs-placement="left" title="Modify Member">
                                        <span class="fa fa-cog"/>
                                    </button>
                                </span>`
                            } {% endcomment %}
                            return `<div class="float-end">${actions}</div>`;
                        }
                    }
                ],
                ajax: {
                    url: "{% url 'project:get_members' slug=project.slug %}",
                    type: 'GET',
                    contentType: 'application/json',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    data: function (response) {
                        return response.data;
                    },
                }
            });

            let taskTable = $('#task-table').DataTable({
                'bSort': true,
                'bPaginate': false,
                'bDestroy': true,
                order: [[4, "asc"]],
                columnDefs: [
                    {targets: [6], className: 'noowrap'},

                ],
                columns: [
                    {
                        data: 'permit', bSortable: true,
                        mRender(data) {
                            return `<a href="${data['url']}">${data['type']} ${data['number']}</a>`
                        }
                    },
                    {data: 'name', bSortable: true},
                    {data: 'description', bSortable: true},
                    {data: 'authority', bSortable: true},
                    {data: 'due_date', bSortable: true},
                    {
                        data: 'attachments', bSortable: false,
                        render: function (data, type, row) {
                            let files = data['files'];
                            let options = '';

                            $.each(files, function (i, file) {
                                options += `
                                    <span class="dropdown-item">
                                        <a href="${file['url']}" download>${file['filename']}</a>
                                        <span class="text-sm text-ofx-gray">${file['size']}</span>
                                    </span>`
                            });

                            return options ? `
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-ofx-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ${files.length} Files (<span class="text-sm text-ofx-dark">${data['size']}</span>)
                                    </button>
                                    <div class="dropdown-menu">
                                        ${options}
                                    </div>
                                </div>` : ''
                        }
                    },
                    {
                        data: 'actions', bSortable: false,

                        mRender: function () {
                            " {% if project|is_admin:member %}"
                                return `
                                <div class="float-end">
                                    <span data-bs-toggle="modal" data-bs-target="#deleteTaskModal">
                                        <button class="btn btn-ofx-fa btn-ofx-fa-red" data-bs-toggle="tooltip" data-bs-placement="left"
                                                title="Delete Task">
                                            <span class="fa fa-trash"/>
                                        </button>
                                    </span>
                                </div>`

                                "   {% endif %}"
                        }

                    }
                ],
                createdRow: function (row, data) {
                    $(row).attr('id', data.id);
                    $(row).attr('name', data.name);
                },
                ajax: {
                    url: "{% url 'project:get_tasks' slug=project.slug %}",
                    type: 'GET',
                    contentType: 'application/json',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    data: function (response) {
                        return response.data;
                    },
                }
            });

            let datasetTable = $('#dataset-table').DataTable({
                'bSort': true,
                'bPaginate': false,
                'bDestroy': true,
                "retrieve": true,
                columnDefs: [
                    {targets: [3], className: 'noowrap'}
                ],
                columns: [
                    {
                        data: 'file', bSortable: true, width: "20%",
                        mRender(data) {
                            return `<a href=` + data.url + `>` + data.filename + `</a>`
                        }
                    },
                    {data: 'size', bSortable: false},
                    {data: 'dateCreated', bSortable: true},
                    {
                        data: 'actions', bSortable: false,

                        mRender() {
                            "{% if project|is_admin:member %}"
                                return `<div class="float-end">
                                <span data-bs-toggle="modal" data-bs-target="#deleteDatasetModal">
                                    <button class="btn btn-ofx-fa btn-ofx-fa-red" data-bs-toggle="tooltip" data-bs-placement="left"
                                            title="Delete Dataset">
                                        <span class="fa fa-trash"/>
                                    </button>
                                </span></div>`;
                                "  {% endif %}"
                            return null;
                        }

                    }
                ],
                ajax: {
                    url: "{% url 'project:get_datasets' slug=project.slug %}",
                    type: 'GET',
                    contentType: 'application/json',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    data: function (response) {
                        return response.data;
                    },
                }
            });
            let modelTable = $('#model-table').DataTable({
                'bSort': true,
                'bPaginate': false,
                'bDestroy': true,
                columnDefs: [
                    {targets: [3], className: 'noowrap'}
                ],
                columns: [
                    {
                        data: 'file', bSortable: true, width: "20%",
                        mRender(data) {
                            return `<a href=` + data.url + `>` + data.filename + `</a>`
                        }
                    },
                    {data: 'size', bSortable: false},
                    {data: 'dateCreated', bSortable: true},
                    {
                        data: 'actions', bSortable: false,


                        mRender() {
                            " {% if project|is_admin:member %}"
                                return `<div class="float-end">
                                <span data-bs-toggle="modal" data-bs-target="#deleteModelModal">
                                    <button class="btn btn-ofx-fa btn-ofx-fa-red" data-bs-toggle="tooltip" data-bs-placement="left"
                                            title="Delete Model">
                                        <span class="fa fa-trash"/>
                                    </button>
                                </span></div>`;
                                "    {% endif %}"
                        }

                    }
                ],
                ajax: {
                    url: "{% url 'project:get_models' slug=project.slug %}",
                    type: 'GET',
                    contentType: 'application/json',
                    data: function (response) {
                        return response.data;
                    },
                }
            });
            let reportTable = $('#report-table').DataTable({
                'bSort': true,
                'bPaginate': false,
                'bDestroy': true,

                columns: [
                    {
                        data: 'dataset', bSortable: true,
                        render: function (data, type, row) {
                            return `<a href=` + data.url + `>` + data.filename + `</a>`
                        }
                    },
                    {
                        data: 'cleaner', bSortable: true,
                        render: function (data, type, row) {
                            return (data) ? `<a href=` + data.url + `>` + data.filename + `</a>` : "";
                        }
                    },
                    {
                        data: 'report', bSortable: true,
                        render: function (data, type, row) {
                            return (data) ? `<a href=` + data.url + `>` + data.filename + `</a>` : "";
                        }
                    },
                    {
                        data: 'type', bSortable: true,
                        render: function (data, type, row) {
                            let format_data = data.replace(/\b\w/g, c => c.toUpperCase());
                            switch (data) {
                                case 'cleaner':
                                    return '<span class="text-ofx-red">' + format_data + '</span>'
                                case 'analysis':
                                    return '<span class="text-ofx-blue">' + format_data + '</span>'
                                default:
                                    return format_data
                            }
                        }
                    },
                    {
                        data: 'actions', bSortable: false,

                        mRender(permission) {
                            " {% if project|is_admin:member %}"
                                return `<div class="float-end">
                                <span data-bs-toggle="modal" data-bs-target="#deleteReportModal">
                                    <button class="btn btn-ofx-fa btn-ofx-fa-red" data-bs-toggle="tooltip" data-bs-placement="left"
                                            title="Delete Report">
                                        <span class="fa fa-trash"/>
                                    </button>
                                </span></div>`;
                                "  {% endif %}"
                        }

                    }
                ],
                /* TODO: Re-enable reports request once Geochem is done
                    ajax: {
                        url: "{% url 'project:get_reports' slug=project.slug %}",
                    type: 'GET',
                    contentType: 'application/json',
                    data: function(response) {
                        return response.data;
                    },
                }
                */
            });

            const projectMap = $('#project-map').InteractiveMap({
                width: '100%',
                height: '0',
                paddingBottom: '80%',
                widgets: ['zoomButton', 'resetBounds'],
                layers: [
                    {
                        {# PROSPECT ENDPOINT #}
                        url: "{% url 'interactive_map:project_prospects' slug=project.slug %}",
                        tooltip: (feature) => feature.properties.name,
                    },
                    {
                        {# TENEMENT ENDPOINT #}
                        url: "{% url 'interactive_map:project_tenements' slug=project.slug %}",
                        tooltip: (feature) => {
                            const {permit_type, permit_number} = feature.properties;
    
                            return `${permit_type} ${permit_number}`;
                        },
                    },
                ]
            });

            const prospectMap = $('#target_map').InteractiveMap({
                width: '100%',
                height: '0',
                paddingBottom: '80%',
                widgets: ['zoomButton', 'createMark', 'resetBounds'],
                layers: [
                    {
                        {# TENEMENT ENDPOINT #}
                        url: "{% url 'interactive_map:project_tenements' slug=project.slug %}",
                    },
                ]
            });

            prospectMap.on(InteractiveMap.Event.Mark.created, function (e) {
                const { marker, lat, lng } = e.detail;

                marker.bindPopup(`
                                <table>
                                    <tbody>
                                        <tr><th>Latitude: </th><td>${lat}</td></tr>
                                        <tr><th>Longitude: </th><td>${lng}</td></tr>
                                    </tbody>
                                </table>
                            `).openPopup();
                $('#id_location').val(`${lat} ${lng}`);
                $('#id_location_input').val(`${lat} ${lng}`);
            });

            
            $('#addTargetButton').on('click',function (e) {
          
                setTimeout(function(){ 
                    prospectMap.widgets.createMark.clearLayers();
                    prospectMap.map.invalidateSize();
                    prospectMap.resetBounds();
                }, 200);
                $('#id_target_id').val('');
                $('#id_target_name').val('');
                $('#id_target_description').val('');
                $('#id_location').val('');
                $('#id_location_input').val('');
                $('#addEditTargetForm .modal-header').text('Add Prospect');
                $('#addEditTargetForm #btnSubmit').text('Add');
            });
            $('#target-table').on('click', 'button:has(.fa-pen)', function (e) {
                let tableRow = $('#target-table').DataTable().row($(this).parents('tr')).data();
                let location = tableRow['location'].replace(/(\[|\]|,)/gm,'')
                location = location.trim();
                
                $('#id_target_id').val(tableRow['name']);
                $('#id_target_name').val(tableRow['name']);
                $('#id_target_description').val(tableRow['description']);
                $('#id_location').val(location);
                $('#id_location_input').val(location);
                $('#addEditTargetForm .modal-header').text('Edit Prospect');
                $('#addEditTargetForm #btnSubmit').text('Save');

                var coordinates = location.split(" ")
                prospectMap.widgets.createMark.clearLayers();
                L.marker(coordinates).addTo(prospectMap.widgets.createMark);
                setTimeout(function(){ 
                    prospectMap.map.invalidateSize();
                    combinedBounds = prospectMap.getCombinedBounds().extend(prospectMap.widgets.createMark.getBounds());
                    prospectMap.fitBounds(combinedBounds, [])
                }, 200);
            });
            
            // TARGET FORMS

            $('#addEditTargetForm').on('submit', function (e) {
                e.preventDefault();
                let $form = $(this);
                let $table = $('#target-table');
                let tableRow = $table.DataTable().row($form.attr('row-index'));
                let url = $('#id_target_id').val() ? location.origin + location.pathname + `post/target/edit/`+tableRow.data()['name'] : location.origin + location.pathname + `post/target/add/`;
                let $modal = $form.closest('.modal');
                let $submitBtn = $form.find('[type="submit"]');
                let submitHtml = $submitBtn.html();
                
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: $form.serialize(),
                    beforeSend: function (){
                        $submitBtn.addSpinner();
                        const overlay = document.createElement('div');
                        overlay.classList.add('overlay');
                        document.body.appendChild(overlay);
                    },
                    success: function (response) {
                        var coordinates = response.data.location.split(" ")
                        response.data.location = "[ " + coordinates[0] +", " + coordinates[1] + " ]"
                        if ($('#id_target_id').val()){
                            $table.DataTable().row($form.attr('row-index')).data(response.data).draw();
                        }
                        else{
                            $table.DataTable().row.add(response.data).draw();
                        }

                        $modal.modal('hide');
                        $form.resetForm(); 

                        {% comment %} Object.entries(projectMap.layers).forEach(([key, layer]) => {
                            if (projectMap.map.hasLayer(layer)) {
                                projectMap.map.removeLayer(layer);
                            }
                        }); {% endcomment %}
                        projectMap.reload();
                        
                    },
                    error: function (response) {
                        if(response['responseJSON']){
                            $form.displayFormErrors(response['responseJSON']);
                        }
                        else{
                            $form.displayFormErrors({'__all__': ['Target with this Project and Name already exists.']});
                        }
                        
                    },
                    complete: function () {
                        $submitBtn.removeSpinner(submitHtml);
                        const overlay = document.querySelector('.overlay');
                        document.body.removeChild(overlay);
                    // location.reload();
                    }
                });
            });

            $('#addEditTargetModal').on("hidden.bs.modal", function() {
                $('#addEditTargetForm').resetForm();
            });

            $('#deleteTargetForm').on('submit', function (e) {
                e.preventDefault();
                let $form = $(this);
                let $table = $('#target-table');
                let $modal = $form.closest('.modal');
                let tableRow = $table.DataTable().row($form.attr('row-index'));
                let formData = new FormData($form[0]);
                formData.set('name', tableRow.data()['name']);

                $.ajax({
                    type: 'POST',
                    url: location.origin + location.pathname + `post/target/delete/`,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function () {
                        tableRow.remove().draw();
                        $modal.modal('hide');
                        $form.resetForm();
                       
                        
                        projectMap.reload();
                        
                    },
                    error: function (response) {
                        $form.displayFormErrors(response['responseJSON']);
                    }
                });
            });
            
        });

    </script>

{% endblock %}







{# Accordion Menu Begin #}
{#    <div class="row">#}
{#        <div class="col-12">#}
{#            <div id="accordion">#}
{#     Accordion Item 1 #}
{#                <div class="card shadow">#}
{#                    <div class="card-header">#}
{#                        <a class="card-link" data-bs-toggle="collapse" href="#collapseOne">#}
{#                            <span class="font-weight-bold">Accordion Item 1</span>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="collapse show" id="collapseOne" data-parent="#accordion">#}
{#                        <div class="card-body">#}
{#                            Stuff here...#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#     Accordion Item 2 #}
{#                <div class="card shadow">#}
{#                    <div class="card-header">#}
{#                        <a class="collapsed card-link" data-bs-toggle="collapse" href="#collapseTwo">#}
{#                            <span class="font-weight-bold">Accordion Item 2</span>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="collapse" id="collapseTwo" data-parent="#accordion">#}
{#                        <div class="card-body">#}
{#                            More Stuff here...#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#     Accordion Item 3 #}
{#                <div class="card shadow">#}
{#                    <div class="card-header">#}
{#                        <a class="collapsed card-link" data-bs-toggle="collapse" href="#collapseThree">#}
{#                            <span class="font-weight-bold">Accordion Item 3</span>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="collapse" id="collapseThree" data-parent="#accordion">#}
{#                        <div class="card-body">#}
{#                            Even More Stuff here...#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{# Accordion Menu End #}