{% extends "base.html" %}
{% load i18n static %}
{% load static %}
{% block content %}
<section class="gradient-form" style="background-color: #fff;height:98%; width:99%">
       <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-6 d-flex align-items-center gradient-custom-2 h-100" id="start-sidebar">
            <div class="text-white px-3 py-2 p-md-5 mx-md-4">
              <h4 class="mb-2">We’re GeoDesk AI</h4>
              <p class="small mb-5">
                We provide artificial intelligence-based geological data analytics to
                mining and exploration companies.
              </p>
              <h4 class="mb-2 mt-5">GeoDesk AI</h4>
              <p class="small mb-0">
                GeoDesk AI is a platform that can bring more efficiency to mineral
                exploration. It can store and analyse the majority of geological data used
                in exploration, using traditional, cutting-edge methods.
              </p>
            </div>
          
          </div>
            <div class="col-md-6 h-100">
                <div class="" style=" position:absolute; float:right;top:20px; right:20px ">
                    <a href="{% url 'website:home' %}">
                    <img
                    class="img-profile"
                    style="height: 25px; width: 120px; "
                    src="{% static '.\user\img\orefox-logo.png' %}"
                    alt=""
                  /> 
                  
              
                    </a>
                  </div>
                <div class="card-body w-100 row d-flex align-items-center justify-content-center" style="margin-top:160px" >
  
                
                  
                  <form method="post" class="col-xl-6 col-8" >
                    {% csrf_token %}
                    {% if messages %}
                    <div id="flash-message" class="alert alert-danger text-md p-3" style="position:absolute;top:110px;width:23%">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
                    {% if form.errors %}
                    <div class="alert alert-danger pt-0 pb-0 mt-0">
                      {% for field, errors in form.errors.items %}
                      {% for error in errors %}
                      <span style="font-size : .70rem"> {{ error }}<br></span>
                      {% endfor %}
                      {% endfor %}
                    </div>
                    {% endif %}
                    <h4 class="text-center mb-5">Forgot Password</h4>
                    <div class="form-outline mb-4 mt-2">
                      <input type="email" name="email" id="id_email" class="form-control"
                        placeholder="Email address" />
                      <label class="form-label" for="id_email">Email</label>
                    </div>
  
                    
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" 
                      id="send-email-btn" type="submit" disabled>Send Email</button>
                      <a class="text-muted" href="{% url 'user:login' %}">Sign In</a>
                    </div>
  
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <a type="submit" class="btn btn-outline-danger" href="{% url 'user:register' %}">
                        Sign Up</a>
                    </div>
  
                  </form>
  
                </div>
              </div>
            
      
    </div>
  </section>
  <script>
    const emailInput = document.querySelector('#id_email');
     const sendEmailButton = document.querySelector('#send-email-btn');
  
    emailInput.addEventListener('input', () => {
        sendEmailButton.disabled = !(emailInput.value);
    });
  
    setTimeout(function () {
      if( document.getElementById("flash-message") !== null)
      document.getElementById("flash-message").style.display = "none";
    }, 3000); 
  </script>
{% endblock %}