{% extends "base.html" %}
{% load i18n static %}
{% load static %}
{% block content %}

<section class="gradient-form" style="background-color: #fff;height:98%; width:99%">
       <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-6 d-flex align-items-center gradient-custom-2 h-100" id="start-sidebar">
            <div class="text-white px-3 py-2 p-md-5 mx-md-4">
              <h4 class="mb-2">We’re GeoDesk AI</h4>
              <p class="small mb-5">
                We provide artificial intelligence-based geological data analytics to
                mining and exploration companies.
              </p>
              <h4 class="mb-2 mt-5">GeoDesk AI</h4>
              <p class="small mb-0">
                GeoDesk AI is a platform that can bring more efficiency to mineral
                exploration. It can store and analyse the majority of geological data used
                in exploration, using traditional, cutting-edge methods.
              </p>
            </div>
          
          </div>
            <div class="col-md-6 h-100">
                <div class="" style=" position:absolute; float:right;top:20px; right:20px ">
                    <a href="{% url 'website:home' %}">
                    <img
                    class="img-profile"
                    style="height: 25px; width: 120px; "
                    src="{% static '.\user\img\orefox-logo.png' %}"
                    alt=""
                  /> 
                  
              
                    </a>
                  </div>
                <div class="card-body row w-100 d-flex align-items-center justify-content-center" style="margin-top:200px" >
  
                
                  
                  <form method="post" class="col-xl-6 col-8 ms-5"  >
                    {% csrf_token %}
                    {% if messages %} {% for message in messages %} 
                    {% if message.level == 25 %}
                    <div
                      id="flash-message"
                      class="alert alert-success text-md p-3"
                      style="position: absolute; top: 140px;width:23%"
                    >
                      {{ message }}
                    </div>
                    {% elif message.level == 40 %}
                    <div
                      id="flash-message"
                      class="alert alert-danger text-md p-3"
                      style="position: absolute; top: 140px;width:23%"
                    >
                      {{ message }}
                    </div>
                    {% endif %} {% endfor %} {% endif %}
                    {% csrf_token %} {% if form.errors %}
                    <div
                      class="alert alert-danger pt-0 pb-0 mt-0"
                      id="flash-message"
                      style="position: absolute; top: 120px;width:23%"
                    >
                      {% for field, errors in form.errors.items %} 
                      {% for error in errors %}
                      <span style="font-size: 0.7rem"> {{ error }}<br /></span>
                      {% endfor %} {% endfor %}
                    </div>
                    {% endif %}
                    <div class="row"  id="client-error" >
                      <div class="col-12 text-start d-flex flex-column justify-content-end align-items-start p-0"></div>
                    </div>
                    <div class="row mt-3 mb-3">
                      <div class="form-outline mb-4 col-10">
                        <input type="password" name="new_password1"  id="id_new_password1" class="form-control" />
                        <label class="form-label" for="id_new_password1">New Password</label>
                      </div>
                      <div class="cross-marker col-1 text-start ms-1"><i class="fas fa-check new-password1-cross-marker" ></i></div>
                    </div>
                    <div class="row  mb-3">                    
                      <div class="form-outline mb-4 col-10">
                        <input type="password" name="new_password2"  id="id_new_password2" class="form-control" />
                        <label class="form-label" for="id_new_password2">Confirm New Password</label>
                      </div>
                      <div class="cross-marker col-1 text-start ms-1"><i class="fas fa-check new-password2-cross-marker" ></i></div>
                    </div>
                    <div class=" row mb-3">
                      <button
                        class="btn btn-primary col-10 fa-lg gradient-custom-2 mb-3 ms-0"
                        id="reset-pwd-btn"
                        type="submit"
                        disabled
                      >
                        Reset Password
                      </button>
                    </div>
          
  
                    <div class="row text-start">
                      <div class="col-11">
                      <span class="mb-0">Don't want to reset?</span>
                      <a
                        type="button"
                        class="btn btn-outline-danger px-3"
                        href="{% url 'user:login' %}"
                      >
                        Sign In</a
                      ></div>
                  </div>      
                  </form>
  
                
        </div>
      </div>
    </div>
  </section>
  <script>
    const password1Input = document.querySelector('#id_new_password1');
    const password2Input = document.querySelector('#id_new_password2');
    const resetPwdButton = document.querySelector('#reset-pwd-btn');
    const error = document.querySelector('#client-error');
   const password1CrossMarker = document.querySelector('.new-password1-cross-marker');
    const password2CrossMarker = document.querySelector('.new-password2-cross-marker');
    window.onload = function() {
 
      password1Input.value=""
      password1Input.focus()
      password1Input.blur()
      password2Input.value=""
      password2Input.focus()
      password2Input.blur()
     // $("#register-form").reset()
     
      $(".fa-times").hide()
      $(".fa-check").hide()
      
  }
    password1Input.addEventListener("input", () => {
      checkServerError();
      
      password1CrossMarker.style.display = "inline";
      error.textContent = "";
    
      let password = password1Input.value;
      let isValid = true;
      checkConfirmPassword();
      if (error.textContent.trim() !== "") {
        password2CrossMarker.classList.replace("fa-check", "fa-times");
      }
      if (password.length < 8 || password.length > 24) {
        error.innerHTML = "Password must be between 8 to 24 characters long.";
        password1Input.setCustomValidity(
          "Password must be between 8 to 24 characters long."
        );
        isValid = false;
      }
      if (!/[A-Z]/.test(password)) {
      
        error.innerHTML +=
          "<br> Password must contain at least one uppercase letter.";
        password1Input.setCustomValidity(
          "Password must contain at least one uppercase letter."
        );
        isValid = false;
      }
  
      if (!/\d/.test(password)) {
        error.innerHTML += "<br> Password must contain at least one digit.";
        password1Input.setCustomValidity(
          "Password must contain at least one digit."
        );
        isValid = false;
      }
      if (!/\W/.test(password)) {
         error.innerHTML +=
          "<br> Password must contain at least one special character.";
        password1Input.setCustomValidity(
          "Password must contain at least one special character."
        );
        isValid = false;
      }
  
      if (isValid) {
        error.textContent = "";
        password1Input.setCustomValidity("");
        password1CrossMarker.classList.replace("fa-times", "fa-check");
      } else password1CrossMarker.classList.replace("fa-check", "fa-times");
      checkInputs();
    });
  
    password2Input.addEventListener("input", () => {
      checkConfirmPassword();
    });
    function checkInputs() {
      console.log("check", document.querySelector(".fa-times"));
      if (
        password1Input.value &&
        password2Input.value &&
         document.querySelector(".fa-times") === null
      ) {
        resetPwdButton.disabled = false;
      } else resetPwdButton.disabled = true;
    }
    function checkServerError() {
      if (document.getElementById("server-error") !== null) {
        document.getElementById("server-error").style.display = "none";
      }
    }
    function checkConfirmPassword() {
      checkServerError();
      password2CrossMarker.style.display = "inline";
  
      const confirmPassword = password2Input.value;
      const password = password1Input.value;
  
      if (confirmPassword.trim() === "" || confirmPassword !== password) {
        error.innerHTML = "Passwords do not match. <br>";
        password2Input.setCustomValidity("Passwords do not match.");
        password2CrossMarker.classList.replace("fa-check", "fa-times");
      } else {
        error.innerHTML = "";
        password2Input.setCustomValidity("");
        password2CrossMarker.classList.replace("fa-times", "fa-check");
      }
      checkInputs();
    }
    setTimeout(function () {
      if( document.getElementById("flash-message") !== null)
      document.getElementById("flash-message").style.display = "none";
    }, 3000); //  "3000" the number of milliseconds to display the flash message
  </script>
  {% endblock %}